@charset "UTF-8";

.joinback{
	position: relative;
}
.joinbackimg{
	height: 943px;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
.joinforinglogo{
/* 	height: 600px; */
	width: 12%;
	position: absolute;
	top:80px;
	left: 45%;
}
.joinwhiteboard{
	background-color: white;
	height: 600px;
	width: 70%;
	position: absolute;
	top: 170px;
	left: 15%;
	opacity: 85%;
}
.jointext{
	height: 32px;
	font-size:16px;
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 2%;
}
.jointext>h1{
	margin:0px;
}
/* ///////////////SNS 로그인 및 기능 버튼/////////////////// */
#snsfuncbtn{
/* 	background-color: yellow; */
	height: 520px;
	width: 30%;
	position: absolute;
	top: 210px;
	left: 52.5%;
}
#emailsearch{
	border: none;
	background-color: #96aedc;
	height: 80px;
	width: 47%;
	position: absolute;
	top: 100px;
	left: 2%;
	font-size: 130%;
}
#pwchg{
	border: none;
	background-color: #96aedc;
	height: 80px;
	width: 47%;
	position: absolute;
	top: 100px;
	left: 51%;
	font-size: 130%;
}
#joinbtn{
	border: none;
	background-color: #96aedc;
	height: 80px;
	width: 96%;
	position: absolute;
	top: 230px;
	left: 2%;
	font-size: 130%;
}
#kakaologinbtn{
	border: none;
/* 	background-color: #96aedc; */
	height: 90px;
/* 	width: 29.15%; */
	position: absolute;
	top: 360px;
	left: 10%;
}
#naverloginbtn{
	border: none;
/* 	background-color: #96aedc; */
	height: 90px;
/* 	width: 29.15%; */
	position: absolute;
	top: 360px;
	left: 42.5%;
}
#googleloginbtn{
	border: none;
/* 	background-color: #96aedc; */
	height: 90px;
/* 	width: 29.15%; */
	position: absolute;
	top: 360px;
	left: 75%;
}
/* ////////////////////////////////////////// */
/* /////////////////파티션//////////////////// */
.partition{
	background-color: blue;
	height: 500px;
	width: 1px;
	position: absolute;
	top: 220px;
	left: 50%;
}
/* ////////////////////////////////////////// */
/* //////////////회원 정보 입력란/////////////// */
#membersearch{
	/* background-color: green; */
/* 	height: 500px; */
/* 	width: 30%; */
/* 	position: absolute; */
/* 	top: 220px; */
/* 	left: 52.5%; */
	height: 520px;
	width: 30%;
	position: absolute;
	top: 210px;
	left: 17.5%;
}
#email{
	border: none;
	background-color: #96aedc;
	height: 80px;
	width: 96%;
	position: absolute;
	top: 100px;
	left: 2%;
	font-size: 130%;
}
#emailguide{
	border: none;
	height: 50px;
	width: 96%;
	position: absolute;
	top: 180px;
	left: 2%;
}
#userpw{
	border: none;
	background-color: #96aedc;
	height: 80px;
	width: 96%;
	position: absolute;
	top: 230px;
	left: 2%;
	font-size: 130%;
}
#userpwguide{
	border: none;
	height: 50px;
	width: 96%;
	position: absolute;
	top: 310px;
	left: 2%;
}
#loginbtn{
	border: none;
	background-color: #96aedc;
	height: 90px;
	width: 29.15%;
	position: absolute;
	top: 570px;
	left: 18%;
}
#meminfoinput>input::placeholder{
	color: white;
}
#loginbtn span{
	font-size: 150%;
	color: white;
	font-weight: bold;
}
/* ////////////////////////////////////////// */
/* //////////////호버 이벤트/////////////////// */
.hoverEffect{
	cursor:pointer;
	box-shadow: 1px 3px 5px 0px #c6c6c6;
}
/* ////////////////////////////////////////// */
