@charset "UTF-8";
#category{
	width: 200px;
	height: 650px;
	background-color: #eaeae8;
	position: absolute;
	top: 30px;
	left: 10px;
}
#categoryMenu{
/* 	text-decoration: none; */
	list-style: none;
}
.categoryMenuMain{
	padding: 15px;
	border-top: 8px solid #0eb4fc;
	border-bottom: 8px solid #0eb4fc;
	font-size: 20px;
}
.categoryMenuDetail{
	border-bottom: 1px dotted black;
	padding: 10px;
	font-size: 15px;
}
#detailName{
	position: absolute;
	top: 50px;
	left: 300px;
}
#contentInputBox{
	border: 1px solid #0eb4fc;
	border-radius: 1em;
	/* width: auto;
	height: auto; */
	display: flex;
	position: absolute;
	top: 57px;
	left: 750px;
}
#contentInput{
	width: 200px;
	outline: none;
	border: none;
	margin: 5px;
	font-size: 12px;
}