@charset "UTF-8";
a{
	text-decoration: none;
	color: black;
}
#boardFirstLine{
	width: 70%;
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}
#detailName{
/* 	position: absolute; */
/* 	top: 50px; */
/* 	left: 300px; */
}
#contentInputBox{
	border: 1px solid #0eb4fc;
	border-radius: 1em;
	/* width: auto;
	height: auto; */
	display: flex;
/* 	position: absolute; */
/* 	top: 57px; */
/* 	left: 810px; */
	padding: 0px 20px;
}
#contentInput{
	width: 175px;
	outline: none;
	border: none;
	margin: 5px;
	font-size: 12px;
}
#board{
	margin-top:15px;
	background: #d0e8ff;
	width:750px;
/* 	position: absolute; */
/* 	top: 100px; */
/* 	left: 290px; */
	font-size: 20px;
}
#boardList{
	width:inherit;
	padding: 5px;
	outline: 1px solid black;
}
#boardList th{
	background: #55aaff;
	outline: 1px solid black;
	width: auto;
}
#boardList td{
	outline: 1px solid black;
	text-align: center;
	table-layout: fixed;
	word-break: break-all;
	background: white;
}
#boardList th:nth-child(1), #boardList td:nth-child(1){
	width: 10%;
}
#boardList th:nth-child(2){
	width: 70%;
}
#boardList td:nth-child(2){
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}
#boardList th:nth-child(3), #boardList td:nth-child(3){
	width: 10%;
}
#boardList th:nth-child(4), #boardList td:nth-child(4){
	width: 10%;
}

#boardLastLine{
	width:inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}
#paging{
/* 	background: red; */
	width: auto;
	height:30px;
/* 	position: absolute; */
/* 	top: 1050px; */
/* 	left: 290px; */
	text-align:center;
	display: flex;
	justify-content:center;
}
#pagination{
	display: flex;
	width: auto;
	justify-content:center;
/* 	background:blue; */
	list-style: none;
	text-align:center;
}
.pagingBtn{
	float: left;
	width: 30px;
	height:30px;
	cursor: pointer;
/* 	text-align:center; */
	font-size: 20px;
	font-weight: bold;
	outline: 1px solid black;
/* 	margin: 15px; */
}
#write{
	display: flex;
	width: 10%;
	height: 30px;
	background-color: white;
	overflow:hidden;
/* 	position: absolute; */
/* 	top: 1047.5px; */
/* 	left: 965px; */
}
#writeBtn{
	width: 100%;
	height: 28px;
	border: 1px solid #2E9AFE;
	border-radius : 10px;
/* 	margin: 5px auto; */
	background-color: white;
	cursor: pointer;
}
#writeBtnText{
	line-height:22px;
	font-size: 16px;
	color: #5a87e6;
	font-weight: 400;
	font-family: "Cairo";
	text-align: center;
}

