* {
	margin: 0;
	padding: 0;
}
input{
	z-index: 1000px;
}

/* 메인페이지 몸체 */
body{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.body{
	background-color: none;
/* 	margin-left: 15%; */
	width: 70%;
	height: auto;
/* 	position: relative; */
	display: flex;
/* 	justify-content: center; */
	flex-direction: column;
	align-items: center;
}
/* 검색창 */
.searchbox{
	border-radius: 10px;
	border: 2px solid #A9E2F3;
/* 	border-color: #A9E2F3; */
	background-color: white;
	width: 76%;
	height: 60px;
/* 	position: absolute; */
/* 	top: 30px; */
/* 	left: 2%; */
	display:flex;
	justify-content:center;
	margin-top: 50px;
}
#searchbox{
    padding: 5px 5px;
    text-indent: 30px;
    text-align: left;
    width: 100%;
	color: black;
	border: none;
	border-radius: 10px;
	outline: none;
/* 	width: 96%; */
	height: 40px;
	font-size: 25px;
	background-color:white;
/* 	position: absolute; */
/* 	top: 6px; */
/* 	left: 2%; */
}
#searchbox::placeholder{
	background-image: url(../images/readingglasses.png);
    background-position: 13px center;
    background-size: contain;
    background-repeat: no-repeat;
	
	color: #E6E6E6;
}
/* /////////////////////////// */
/* 인기게시판 */
.hotboard{
	background-color: #A9E2F3;
	width: 76%;
	height: 490px;
	display: flex;
/* 	position: absolute; */
/* 	top: 120px; */
/* 	left: 2%; */
}
.hotboardtable {
  border-collapse: collapse;
  border: none;
  height:490px;
  width: 100%;
}
.hotboardtable> tr, td {
  border: none;
}

/* 각 행의 높이 설정 */
.hotboardtable tr:nth-child(1) {
  height: 70px;
  background-color: white;
}
.hotboardtable tr:nth-child(2) {
  height: 42px;
  background-color: white;
}
.hotboardtable tr:nth-child(3) {
  height: 42px;
  background-color: white;
}
.hotboardtable tr:nth-child(4) {
  height: 42px;
  background-color: white;
}
.hotboardtable tr:nth-child(5) {
  height: 42px;
  background-color: white;
}
.hotboardtable tr:nth-child(6) {
  height: 42px;
  background-color: white;
}
.hotboardtable tr:nth-child(7) {
  height: 42px;
  background-color: white;
}
.hotboardtable tr:nth-child(8) {
  height: 42px;
  background-color: white;
}
.hotboardtable tr:nth-child(9) {
  height: 42px;
  background-color: white;
}
.hotboardtable tr:nth-child(10) {
  height: 42px;
  background-color: white;
}
.hotboardtable tr:nth-child(11) {
  height: 42px;
  background-color: white;
}

.hotboardtable tr:first-child td:nth-child(1) {
  width: 100%;
}
.hotboardtable tr:nth-child(2) td:nth-child(1) {
  width: 10%; /* 셀 5의 너비 */
}
.hotboardtable tr:nth-child(2) td:nth-child(2) {
  width: 80%; /* 셀 6의 너비 */
}
.hotboardtable tr:nth-child(2) td:nth-child(3) {
  width: 5%; /* 셀 7의 너비 */
}
.hotboardtable tr:nth-child(2) td:nth-child(4) {
  width: 5%; /* 셀 8의 너비 */
}

.likeimg{
	width: 50%;
}

.commentimg{
	width: 40%;
}
.hoticon {
	width: 10%;
}
.hotboardtitle {
	font-size: 140%;
}
.hotboardname {
	margin-left: 5%;
	text-decoration: none;
	color: black;
}
/* /////////////////////////// */
/* 메인페이지 채팅 창 */
.mainchat{
	background-color:none;
	width: 90%;
	height: 520px;
	margin-top: 50px;
	position: relative;
/* 	top: 640px; */
/* 	left: 2%; */
}
.mainchatbox {
	margin-left:0.2%;
	width: 98%;
	height:480px;
	border: 10px solid #2E9AFE;
	border-radius: 20px;
	background-color: #A9E2F3;
}
#chattingbox{
	
    border: 1px solid #ccc;
	border-radius: 10px;
	
    padding: 5px 5px;
    text-indent: 30px;
    text-align: left;
    width: 120px;
    
	color: black;
	border: none;
	outline: none;
	width: 96%;
	height: 20px;
	font-size: 18px;
	background-color:white;
	position: absolute;
	top: 455px;
	left: 1.8%;
}
.chat_wrap .chat { 
	padding-bottom: 80px; 
}
.chat_wrap .chat ul { 
	width: 100%; list-style: none; 
}
.chat_wrap .chat ul li {
	width: 100%; 
}
.chat_wrap .chat ul li.left { 
	text-align: left; 
}
.chat_wrap .chat ul li.right { 
	text-align: right; 
}
/* .chat_wrap .chat ul li.right > div{  */
/* 	text-align: left;  */
/* } */
 
.chat_wrap .chat ul li > div { 
	font-size: 13px;  
}
.chat_wrap .chat ul li > div.sender { 
	margin: 10px 20px 0 20px; 
	font-weight: bold; 
}
.chat_wrap .chat ul li > div.senddate { 
	margin: 0px 20px 0 20px;
	font-weight: normal; 
}
.chat_wrap .chat ul li > div.message { 
	display: inline-block; 
	word-break:break-all; 
	margin: 5px 20px 0px 20px; 
	max-width: 75%; 
	border: 1px solid #888; 
	padding: 10px; 
	border-radius: 5px; 
	background-color: #FCFCFC; 
	color: #555; 
	text-align: left; 
}
 
.format { display: none; }
#chattingbox::placeholder{
	background-image: url(../images/readingglasses.png);
    background-position: 13px center;
    background-size: contain;
    background-repeat: no-repeat;
	
	color: #E6E6E6;
}
/* /////////////////////////// */
/* /////////////////////////// */

/* 	커질떼 */
@media screen and (min-width: 1110px) {

}
/* 작아질떼 */
@media screen and (max-width: 1110px) { 

}
 