@charset "UTF-8";
#readContainer{
	margin-top: 50px;
	height: auto;
	width: 70%;
	background: white;
/* 	position: absolute; */
/* 	top: 30px; */
/* 	left: 290px; */
	display: flex;
	justify-content: space-between;
	flex-direction:column;
	border: 5px #eaeae8 solid;
	border-top-color: #0eb4fc;
}
#boardTitle{
	margin-top:10px;
	margin-left: 5%;
	font-size: 20pt;
	font-weight: bold;
/* 	position: absolute; */
/* 	top: 10px; */
/* 	left: 1%; */
}
#readContainerFirstLine{
	width:90%;
	margin: 10px 5%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
#boardCategory{
/* 	position: absolute; */
/* 	top: 60px; */
/* 	left: 1%; */
}
#boardDate{
/* 	position: absolute; */
/* 	top: 60px; */
/* 	left: 45%; */
}
#boardViewCnt{
/* 	position: absolute; */
/* 	top: 60px; */
/* 	right: 1%; */
}
#readContainerSecondLine{
	width:90%;
	margin: 10px 5%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
#boardWriter{
/* 	position: absolute; */
/* 	top: 100px; */
/* 	left: 1%; */
}
#boardDisclosure{
/* 	position: absolute; */
/* 	top: 100px; */
/* 	left: 45%; */
}
#boardAttachment{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5%;
/* 	position: absolute; */
/* 	top: 140px; */
/* 	left: 1%; */
}
#boardContent{
/* 	position: absolute; */
/* 	top: 180px; */
/* 	left: 0%; */
	display: flex;
	flex-direction: column;
	margin-top:15px;
	background-color: white;
	height: 420px;
	width: 100%;
	outline: 5px solid #eaeae8;
	text-align: center;
	overflow: hidden;
}
#boardContentText{
	padding: 10px;
/* 	height: 398px; */
/* 	width: 100%; */
	border-top: 2px dashed #eaeae8;
	background-color: white;
	text-align: left;
	overflow:auto;
}

#memFunBtnLine{
	display: flex;
	flex-direction: row;
	justify-content:center;
	height: 30px;
	width: 70%;
	margin: 10px auto;
}
#memFunBtnLine button{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 15%;
	font-size: 1em;
}
.memFunBtnImg{
	width: 30%;
}

#replyContainer{
	height: auto;
	width: 70%;
	background: white;
/* 	position: absolute; */
/* 	top: 680px; */
/* 	left: 290px; */
/* 	margin-top:50px; */
	display: flex;
	flex-direction: column;
	border: 5px #eaeae8 solid;
	border-top-color: #0eb4fc;
}
#replies{
	height: auto;
	width: 100%;
/* 	background:yellow; */
	table-layout: fixed;
	max-height: 392px;
}
.reply{
	height: auto;
	width: 100%;
}
#replyUsernick{
	padding: 1px;
	border-bottom: 1px #eaeae8 solid;
	height: auto;
	width: 10%;
	text-align: center;
}
#replyContent{
	padding: 1px 5px;
	border-bottom: 1px #eaeae8 solid;
	border-left: 1px #eaeae8 dotted;
	border-right: 1px #eaeae8 dotted;
	height: auto;
	width: 70%;
}
#replyRegdate{
	padding: 1px;
	border-bottom: 1px #eaeae8 solid;
	height: auto;
	width: 10%;
	font-size: 0.8em;
	text-align: center;
	border-right: 1px #eaeae8 dotted;
}
#rereplyBtnBack{
	padding: 1px;
	border-bottom: 1px #eaeae8 solid;
	height: inherit;
	width: auto;
	font-size: 0.8em;
	text-align: center;
}
.rereplyBtn{
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1em;
}

.reReplyContainer{
	width: 100%;
	height: auto;
	word-wrap: break-word;
}
.reReplyContainerBox{
	width: 100%;
	height: 10px;
}
.reReplies{
	width: 100%;
	height: auto;
}
.reReply{
	width: 100%;
	height: auto;
/* 	outline: 1px solid #a4aaca; */
/* 	border-radius: 2px; */
}
.LSymbol{
	width: 5%;
/* 	background: yellow; */
	text-align: center;
}
.reReplyUsernick{
	outline: 1px dashed #a4aaca;
	border-radius: 5px;
	width: 10%;
	text-align: center;
}
.reReplyContent{
	outline: 1px dashed #a4aaca;
	border-radius: 5px;
	width: 75%;
	padding-left: 10px;
	padding-right: 10px;
	word-break: brweak-word;
}
.reReplyRegdate{
	outline: 1px dashed #a4aaca;
	border-radius: 5px;
	width: 10%;
	font-size: 0.8em;
	text-align: center;
}

.reReplyReg{
	margin-top: 10px;
	height: auto;
	width: 100%;
}
.reReplyRegArea{
	height: auto;
	width: 100%;
}
.reReplyTextArea{
	height: auto;
	width: 98%;
	padding: 1%;
	resize: none;
}

#pagingReply{
/* 	margin-top: 10px; */
	height:auto;
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items: center;
}
#paginationReply{
	display: flex;
	margin: 5px auto;
	width: auto;
	height:auto;
	justify-content:center;
	list-style: none;
}
.pagingReplyBtn{
	float: left;
	height: 1.5em;
	aspect-ratio: 1/1;
	cursor: pointer;
	text-align:center;
	font-size: 1em;
	font-weight: bold;
	border-radius: 25%;
	outline: 1px solid black;
}
#replyReg{
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#replyRegOptions{
	width:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#replyRegText{
	padding:5px;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	resize: none;
}
