@charset "UTF-8";
#readContainer{
	height: 600px;
	width: 70%;
	background: white;
	position: absolute;
	top: 30px;
	left: 290px;
	border: 5px #eaeae8 solid;
	border-top-color: #0eb4fc;
}
#boardTitle{
	font-size: 20pt;
	font-weight: bold;
	position: absolute;
	top: 10px;
	left: 1%;
}
#boardCategory{
	position: absolute;
	top: 60px;
	left: 1%;
}
#boardDate{
	position: absolute;
	top: 60px;
	left: 45%;
}
#boardViewCnt{
	position: absolute;
	top: 60px;
	right: 1%;
}
#boardWriter{
	position: absolute;
	top: 100px;
	left: 1%;
}
#boardDisclosure{
	position: absolute;
	top: 100px;
	left: 45%;
}
#boardAttachment{
	position: absolute;
	top: 140px;
	left: 1%;
}
#boardContent{
	position: absolute;
	top: 180px;
	left: 0%;
	background-color: white;
	height: 420px;
	width: 100%;
	outline: 5px solid #eaeae8;
}
#boardContentText{
	height: 398px;
	width: 100%;
	border-top: 2px dashed #eaeae8;
	background-color: white;
	overflow:auto;
}
#replyContainer{
	height: auto;
	width: 70%;
	background: white;
	position: absolute;
	top: 680px;
	left: 290px;
	border: 5px #eaeae8 solid;
	border-top-color: #0eb4fc;
}
#replies{
	height: auto;
	width: 100%;
/* 	background:yellow; */
}
#reply{
	height: auto;
	width: 100%;
}
#replyUsernick{
	padding: 1px;
	border-bottom: 1px #eaeae8 solid;
	height: inherit;
	width: 15%;
	text-align: center;
}
#replyContent{
	padding: 1px 5px;
	border-bottom: 1px #eaeae8 solid;
	border-left: 1px #eaeae8 dotted;
	border-right: 1px #eaeae8 dotted;
	height: inherit;
	width: 75%;
}
#replyRegdate{
	padding: 1px;
	border-bottom: 1px #eaeae8 solid;
	height: inherit;
	width: 10%;
	font-size: 0.8em;
	text-align: center;
}

