<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kr.co.foring.board.mapper.BoardMapper">
	
	<sql id="boardSearcher">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<choose>
				<when test="cri.keyword != null">
						usernick LIKE '%'||#{cri.keyword}||'%'
					OR	boardtitle LIKE '%'||#{cri.keyword}||'%'
					OR	boardcontent LIKE '%'||#{cri.keyword}||'%'
				</when>
			</choose>
		</trim>
	</sql>
	
	<select id="boardList" resultType="kr.co.foring.board.domain.BoardDTO">
	 <![CDATA[
			SELECT  * 
			FROM    (
		        SELECT  rownum rn,
		                subboard.*
		        FROM    (
		                    SELECT  boardid,
		                            categorymenu,
		                            usernick,
		                            disclosure,
		                            boardpw,
		                            boardtitle,
		                            boardcontent,
		                            viewcnt,
									replycnt
		                    FROM    tbl_board
		                    WHERE	
			]]>
			<include refid="boardSearcher"></include>
			<![CDATA[
							categorymenu = #{cri.categorymenu}
							ORDER BY boardid DESC
						) subboard
				)
			WHERE	rn > (#{cri.pageNum}-1)*#{cri.amount}
			AND		rn <= #{cri.pageNum} * #{cri.amount}
			]]>
	</select>
	<select id="getTotalCnt" resultType="int">
			<![CDATA[
				SELECT	COUNT(*)
				FROM	tbl_board
				WHERE	
			]]>
			<include refid="boardSearcher"></include>
			<![CDATA[
						categorymenu = #{cri.categorymenu}
				AND		boardid > 0
			]]>
	</select>
	<update id="viewCnt">
		UPDATE 	tbl_board
		SET 	viewcnt = viewcnt+1
		WHERE	boardid=#{bno}
	</update>
	<select id="read" resultType="kr.co.foring.board.domain.BoardDTO">
		SELECT 	boardid,
				boardtitle,
				boardcontent,
				usernick,
				disclosure,
				boardpw,
				categorymenu,
				viewcnt,
				replycnt
		FROM 	tbl_board
		WHERE	boardid=#{bno}
	</select>
	<select id="reply" resultType="kr.co.foring.board.domain.ReplyDTO">
	<![CDATA[
		SELECT	*
		FROM	(
				SELECT  rownum rn,
						subboard.* 
				FROM	(
						SELECT 	*
						FROM 	tbl_reply
						WHERE	boardid=#{bno}
						ORDER BY replyregdate DESC
						) subboard
				)
		WHERE	rn > (#{cri.pageNum}-1)*#{cri.amount}
		AND		rn <= #{cri.pageNum} * #{cri.amount}
	]]>
	</select>
	<select id="getReplyTotalCnt" resultType="int">
			<![CDATA[
				SELECT	COUNT(*)
				FROM	tbl_reply
				WHERE	boardid=#{bno}
			]]>
	</select>
	<insert id="replyRegister" >
		INSERT INTO tbl_reply(replyid, boardid, usernick, disclosure, replycontent) 
		VALUES (reply_seq.nextval, #{boardid}, #{usernick, jdbcType=VARCHAR}, #{disclosure, jdbcType=VARCHAR}, #{replycontent, jdbcType=VARCHAR})
	</insert>
</mapper>