<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kr.co.foring.board.mapper.BoardMapper">
  	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item="type" collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type=='T'.toString() ">
							title LIKE '%'||#{keyword}||'%'
						</when>
						<when test="type=='C'.toString() ">
							content LIKE '%'||#{keyword}||'%'
						</when>
						<when test="type=='W'.toString() ">
							writer LIKE '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	<select id="boardList" resultType="kr.co.foring.board.domain.BoardDTO">
		<![CDATA[
			SELECT	bno,
					title,
					content,
					writer,
					regdate,
					viewcnt,
					replycnt
			FROM	(
						SELECT	rownum rn,
								bno,
								title,
								content,
								writer,
								regdate,
								viewcnt,
								replycnt
						FROM	tbl_board
						WHERE	
		]]>
		<include refid="criteria"></include>
		<![CDATA[
						rownum <= #{pageNum} * #{amount}
						ORDER BY bno DESC
					)
			WHERE	rn > (#{pageNum}-1)*#{amount}
		]]>
	</select>
	<select id="getTotalCnt" resultType="int">
			SELECT	COUNT(*)
			FROM	tbl_board
			WHERE	
			<include refid="criteria"></include>
			bno > 0
	</select>
</mapper>